{
    "extends" : [
      "standard",
      "plugin:promise/recommended",
      "plugin:vue/vue3-essential",
      "plugin:vue/vue3-strongly-recommended",
      "eslint:recommended"
    ],
    "parser": "vue-eslint-parser",
      "parserOptions": {
          "parser": "@typescript-eslint/parser",
          "sourceType": "module"
    },
    "plugins": [
      "promise",
      "vue"
    ],
    "env": {
      "browser" : true,
      "node"    : true,
      "mocha"   : true,
      "jest"    : true
    },
    "globals" : {
      "ethereum": true,
      "web3": false,
      "Web3": false,
      "defineProps": true,
      "defineEmits": true,
      "RequestInit": true
    },
    "rules": {
  
      // Strict mode
      "strict": ["error", "global"],
  
      // Code style
      "camelcase": ["off"],
      "comma-dangle": ["warn", "always-multiline"],
      "comma-spacing": ["error", {"before": false, "after": true}],
      "dot-notation": ["error", {"allowKeywords": true, "allowPattern": ""}],
      "eqeqeq": ["error", "smart"],
      "generator-star-spacing": ["error", "before"],
      "linebreak-style": ["error", "unix"],
      "max-len": ["warn", 120, 2, {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }],
      "no-debugger": "off",
      "no-dupe-args": "error",
      "no-dupe-keys": "error",
      "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
      "no-redeclare": ["error", {"builtinGlobals": true}],
      "no-trailing-spaces": ["error", { "skipBlankLines": false }],
      "no-undef": "error",
      "no-unused-vars": "off",
      "no-use-before-define": "off",
      "no-var": "error",
      "object-curly-spacing": ["error", "always"],
      "prefer-const": "error",
      "quotes": ["error", "double"],
      "semi": ["error", "never"],
      "space-before-function-paren": ["error", {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
    }],
      "promise/always-return": "off",
      "promise/avoid-new": "off",
      "prefer-promise-reject-errors": ["warn", {"allowEmptyReject": true}],
  
      "vue/script-indent": ["warn", 2, {
        "baseIndent": 0
      }],
      "vue/require-v-for-key": "off",
      "vue/no-use-v-if-with-v-for": "off",
      "vue/no-multiple-template-root": 0
    },
    "overrides": [
      {
        "files": ["*.vue"],
        "rules": {
          "indent": "off"
        }
      }
    ]
  }
  